.modal-container {
  position: relative;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  text-align: center;
  position: relative;
  align-items: center;
}

h1 {
  font-size: 18px;
  padding-bottom: 40px;
}

.close {
  width: 100px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.word {
  width: 200px;
  margin: 5px;
}

.words-container {
  height: 200px;
  overflow-y: scroll;
}
